<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<system.web>
		<trust level="Medium" />
		<customErrors mode="Off" />
		<identity impersonate="false" />
		<authentication mode="Windows" ></authentication>
		<!-- Settings -->
	</system.web>
	<!-- To customize the asp.net core module uncomment and edit the following section.
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<httpProtocol allowKeepAlive="true">
				<customHeaders >
					<!--<add name="Access-Control-Allow-Origin" value="http://10.55.11.61:8080" />-->
					<add name="Access-Control-Allow-Origin" value="http://localhost" />
					<add name="Access-Control-Allow-Headers" value="Content-Type,Authorization,Password,X-AspNet-Version,X-Powered-By,Date,Server,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,Content-Length,Host,Origin,Pragma,Referer,User-Agent" />
					<add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
					<add name="Access-Control-Allow-Credentials" value="true" />
				</customHeaders>
			</httpProtocol>
			<httpErrors errorMode="Detailed" />

			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath="dotnet"
						arguments=".\bin\Debug\net6.0-windows\WelcomeToCloud.Web.Api.Core.dll"
						stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>

			<rewrite>
				<rules>
					<rule name="CORS Preflight Anonymous Authentication" stopProcessing="true">
						<match url=".*" />
						<conditions>
							<add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
						</conditions>
						<action type="CustomResponse" statusCode="200" statusReason="Preflight" statusDescription="Preflight" />
					</rule>
				</rules>
			</rewrite>

		</system.webServer>
	</location>
</configuration>